<h2 class="name">Registration is now open!</h2>

<a href="./register">
    <button type="button" class="btn btn-outline-primary"><i class="fas fa-user-plus"></i> Register</button>
</a>

<a href="./mentor">
    <button type="button" class="btn btn-outline-primary"><i class="fas fa-briefcase"></i> Apply to be an Industry Mentor</button>
</a>

<!--
<a href="./volunteer">
    <button type="button" class="btn btn-outline-primary"><i class="fas fa-hands-helping"></i> Apply to
        Volunteer</button>
</a>
-->