<a href="./schedule">
    <button type="button" class="btn btn-outline-primary"><i class="fas fa-calendar"></i> Schedule!</button>
</a>
<a href="./workbook">
    <button type="button" class="btn btn-outline-primary"><i class="fas fa-book"></i> Workbook!</button>
</a>
<a href="./devpost">
    <button type="button" class="btn btn-outline-primary"><i class="fas fa-lightbulb"></i> Devpost!</button>
</a>
<a href="https://coder.hackathonsforschools.com">
    <button type="button" class="btn btn-outline-primary"><i class="fas fa-laptop-code"></i> Coding Platform!</button>
</a>

<br>
