---
layout: default
---
<div class="main">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <a href="https://hackathonsforschools.com"><img class="logo" src="./assets/img/logo.png" /></a>
            <h2>Student Summer Sprint 2020</h2>
            <p>3rd August - 7th August 2020</p>
            {% include register-buttons.html %}
        </div>
    </div>
    <hr>
    <div class="row">
        {% for info in site.data.info %}
        <div class="col-sm">
            <h3>{{ info.title}}</h3>
        </div>
        {% endfor %}
        <div class="w-100"></div>
        {% for info in site.data.info %}
        <div class="col-sm">
            <div class="answer-box">
                <p>
                    {{ info.answer}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include social-buttons.html %}
</div>
